/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

:root {
     --primaty-text-color:         #757575;
     --secondary-background-color: #F5F4FA;
     --title-text-color:           #212121;
     --accent-color:               #2196F3;
     --color-white:                #FFFFFF;
     --color-white-transparency:   rgba(255, 255, 255, 0.6);
     --color-footer:               #2F303A;
     --color-icon:                 #AFB1B8;

}

body {
    margin: 0;
    background-color: var(--color-white);
    color: var(--primaty-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
/* h1, h2, h3, p{
    margin-top: 0;
    margin-buttom: 0;
} */
/* Утіліти */
/* прибирає крапки в навігагії */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Контайнер */
.container {
    width:1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
}

.specifics, .title-specifics, .app-title, .app-title, .team-title, .title-team, .name-portfolio, .client-title
/* h2,h3 */
{
    color: var(--title-text-color) ;
    
}
.specifics, .section-app, .app-title, .team-title, .name-portfolio, .client-title
/* h2 */
{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.page-heder {
    margin: 0;
    border-bottom: 1px solid #ECECEC;
 
   }

.nav {
    display: flex;
    align-items: center;

}

.nav >.logo {
    padding-top: 24px;
    padding-bottom: 25px;
}


/* логотип */
.logo {
    margin-right: 93px;
    display: inline-block;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  

}

.logo-beg{
    color: var(--accent-color);
    
    
}

.logo-end {
    color: var(--title-text-color);

}

.container.main-nav {
    display: flex;
    align-items: center;
   
    /* justify-content: space-between; */
}

/* меню навігації */

.site-nav {
    display: flex;
   
}

.site-nav .item {
    /* outline: 1px solid red; */
    margin-right: 50px;

}

.site-nav .item:last-child {
    margin-right: 0;
}

.nav-link  {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    text-decoration: none; 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms transition-timing-function: cubic-bezier (0.4, 0, 0.2, 1);
}

.nav-link.current{
     position: relative;
}

.contact-li {
    display: flex;
    margin-left: auto;
       
}
.contact-li .item + .item {
    margin-left: 50px;
   
}


.contact  {
    
    padding-left: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primaty-text-color);
    fill: var(--primaty-text-color);
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms cubic-bezier (0.4, 0, 0.2, 1), fill 250ms cubic-bezier (0.4, 0, 0.2, 1);
    
}

.contact> .icon-cont {
   margin-right: 10px;
}

.nav-link:hover, .contact:hover, .footer-contact:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
}
.nav-link:focus, .contact:focus, .footer-contact:focus {
    color: var(--accent-color);
    fill:  var(--accent-color);
}

.site-nav .nav-link.current {
    color:var(--accent-color);
}

.nav-link.current::after{
    content: '';

    position: absolute;

    display: block;
    width: 100% ;
    height: 4px;
    background-color: var(--accent-color) ;
    border-radius: 2px;
    left: 0;
    bottom: 0;
    /* display:none; */
    /* transition: opacity 250ms cubic-bezier (0.4, 0, 0.2, 1); */
}
/* 
.nav-link.current:hover::after{
    display: block;
} */

/* секція Hero */
.hero-title, .hero {
    margin-top: 0;
    /* margin-bottom: 30px; */
    color: var(--color-white);
    
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}



.hero-title {
    width: 696px;
    margin: 0 auto;
}

.hero {
    background-color: var(--color-footer);
    background-image: linear-gradient(to right,rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url('../images/hero.jpg');
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
 
}

.backdrop {
    position: absolute;

    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
    width: 1600px;
    height: 1024px;
 
    background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

}
.modal {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    margin: 221px, 536px, 222px, 536px;
    width: 528px;
    height: 581px;
    
    

    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;


}

/* .modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

.btn-modal-close {
    position: absolute;
    top: 0;
    right: 0;

    display: block;
    width: 30px;
    height: 30px;
    
    /* padding: 0; */
    margin: 8px 8px;
   
    content: '';
    background: #FFFFFF;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
 
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/close.svg"); 
    
}

/* .btn-modal-close::before {
        content: '';
        display: inline-block;
        width: 30px;
        height: 30px;
        /* background-image: url("../images/close.svg"); */
    

 .modal.close {
    
      
}  
/* секція Specifics */

.specifics {
    display:none;
  
}
.specific-list {
    display: flex;
}
.specific-list .item {
    width: 270px;
    margin-right: 30px;
  
   
}
.specific-list .item:last-child {
    margin-right: 0;
}

 .title-specifics {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

 }

.specific-list>.item::before{
 display:block;
 content:"";
 height: 120px;
 background-color: var(--secondary-background-color);
 
 background-size: contain;
 background-size: 65px, 70px;
 background-repeat: no-repeat;
 background-position: center;
 margin-bottom: 30px;
}

.item.icon-details::before {
background-image: url("../images/det.svg");
}

.item.icon-punkt::before{
    background-image: url("../images/punkt.svg");
}

.item.icon-plan::before {
    background-image: url("../images/diagram.svg");
}

.item.icon-techno::before {
    background-image: url("../images/astronaut.svg");
}

 .section.app {
     padding-top: 0;
 }

.app-title {
    margin-top: 0;
    margin-bottom: 50px;
}

.app-list {
    display:flex;
 
    
 }

.app-list .item {
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: 30px;

    position: relative;

    
 }
 /* .app-overlay {
    
 } */

.app-list .item:last-child {
    margin-right: 0;
}

.title-overley {
    display: block;
    width: 370px;
    height: 70px;
    
    position: absolute;

    bottom: 0;
    left: 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    padding-top: 27px;
    padding-right: auto;
    padding-bottom: 27px;
    padding-left: auto;
    
    color: var(--color-white);

    background: rgba(47, 48, 58, 0.8)
}

 /* секція Team */

.team-list {
    display: flex;
   
}

.section.team {
       
    background-color: var(--secondary-background-color) ;

 }


.team-title {
    margin-top: 0;
    margin-bottom: 50px;
   
 }

.team-list .item {
    margin-right: 30px;
    background: var(--color-white);
    /* material shadow v1 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list .item:last-child {
    margin-right: 0;
}

.team-list.item img {
    display: inline-block;
    max-width: 100%;
    height: auto;

}
 .team-card {
     align-items: center;
     padding-top: 30px;
     padding-bottom: 30px;

 }
.title-team {
    /* margin-top: 30px; */
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

  
 }
.text-team {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    
}


.list-socnet {
    display:flex;
    padding: 0;
    justify-content: center;

   
}

.icon-socnet {
    margin-right: 10px;
}
.icon-socnet .icon-link {
    display:flex;
    width: 44px; 
    height: 44px;

    border-radius: 50%; 
    justify-content: center;
    align-items: center;

    transition: background-color 250ms cubic-bezier (0.4, 0, 0.2, 1), fill 250ms cubic-bezier (0.4, 0, 0.2, 1);

}
.icon-socnet:last-child{
    margin-right: 0;
}

.icon-socnet .icon-link {
    fill: var(--color-icon);
}
.icon-socnet .icon-link:hover {
    fill: var(--color-white);
    background-color: var(--accent-color);
}
.icon-socnet .icon-link:focus {
    fill: var(--color-white);
    background-color: var(--accent-color);
}


/* Section Client */

.client-title {
    margin-bottom: 50px;
}

.client-list {
    display: flex;
    padding: 0;
    justify-content: center;

    /* margin-right: 30px; */
}

/* .client-list:last-child {
    margin-right: 0;
} */


.client-link {
    display:flex;
    width: 170px;
    height: 92px;

    border: 1px solid var(--color-icon);
    border-radius: 4px;

    fill: var(--color-icon);
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    padding: 16px 32px; 

    transition: border 250ms cubic-bezier (0.4, 0, 0.2, 1), fill: 250ms cubic-bezier (0.4, 0, 0.2, 1);
  
}

.client-link:last-child {
    margin-bottom: 0;
} 

.client-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);

}

.client-link:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);

}

/* button */
.button {
    display: inline-block;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    border: none;
    /* height: 50px;
    left: 700px;
    top: 430px;  */

    background-color: var(--accent-color);
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;

    transition: background-color 250ms cubic-bezier (0.4, 0, 0.2, 1);

}

.button:hover {
    background-color: #188CE8;
}

.button:focus {
    background-color: #188CE8;
}

/* футер */
.footer-contact {
    color: var(--color-white-transparency);
    text-decoration: none;
    line-height: 1.71;
    font-style: normal;

    transition: color 250ms cubic-bezier (0.4, 0, 0.2, 1);
      
}

footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color:var(--color-footer) ;
    color: var(--color-white);
}
   
.address-footer {
    margin-top: 20px;
    font-style: normal;
}
.address-li {
    padding-right: 70px;
}

.address-li .item {
    margin-bottom: 9px ;
}

.address-li .item:last-child {
    margin-bottom: 0;
}

.logo-end-wh {
    color: var(--color-white);
}

.container.footer {
    display: flex;
    align-items: baseline;
   
}
.title-soc-foot {
    /* margin-top: 0; */
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.title-soc-foot{
   text-align: left;
   
}
.icon-footer {
    text-align: center;
}

.list-socnet {
   
    /* margin: 0;
    padding: 0; */
}

.icon-socnet-fot {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    background-color: rgba(255, 255, 255, 0.1);

    padding: 12px;
    margin-right: 10px;

    transition: background-color 250ms  (0.4, 0, 0.2, 1), fill 250ms cubic-bezier (0.4, 0, 0.2, 1);
}

.icon-socnet-fot .icon-link {
fill: var(--color-white);
}

.icon-socnet-fot:last-child {
    margin-right: 0;
}

.icon-socnet-fot:hover {

    fill: var(--color-white);
    background-color: var(--accent-color);
}

.icon-socnet-fot:focus {

    fill: var(--color-white);
    background-color: var(--accent-color);
}


/* portfolio.html */

.title-portfolio {
    display:none;
    margin: 0;
    padding: 0;
    color:var(--color-white);
}

.btn-portfolio {
    display:flex;
    margin-bottom: 50px;
    justify-content: center;
}
.button-portfolio {
    display:inline-block;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    margin-right: 8px;
    /* min-width: 73px; */

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    background-color: var(--secondary-background-color);
    color: var(--title-text-color);
    cursor: pointer;

    transition: background-color 250ms cubic-bezier (0.4, 0, 0.2, 1), color 250ms cubic-bezier (0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier (0.4, 0, 0.2, 1);
    
}

.button-portfolio:focus{
    color: var(--color-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.button-portfolio:hover {
    color: var(--color-white);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    

}

.container-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    /* border: 1px solid #EEEEEE; */
    /* justify-content: center;
  */
}

/* .container-portfolio .item:hover {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
} */

.portfolio-title {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 20px 24px;
}
.container-portfolio .item{
   
}

.container-portfolio .item:nth-child(3n){
    margin-right: 0;
}

.container-portfolio .item:nth-last-child(-n+3){
    margin-bottom: 0;
}


.link-portfolio {
    display: block;
    text-decoration: none;
    position: relative;

    

    transition: box-shadow 250ms cubic-bezier (0.4, 0, 0.2, 1);
}

.text-overley {
    display: block;
    width: 370px;
    height: 294px;
    /* width: 100%;
    height: 100%; */

    top: 0;
    right: 0;
    position: absolute;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--color-white);
    background-color: rgba(33, 150, 243, 0.9);

    padding: 63px 24px;
    
    display: none;

    transform: translateY(100%);
    transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    
}


.link-portfolio:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-portfolio:hover .text-overley {
    display:block;
    transform: translateY(0);
    transition: 250ms, cubic-bezier(0.4, 0, 0.2, 1);
    }


.link-portfolio img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link-portfolio> img::before{
     display: inline-block;
     content: '';

     position: absolute;
     top:0;
     left:0;
     width: 100%;
     height: 100%;

     background-color: rgba(33, 150, 243, 0.9);

     opacity: 0;

}

.name-portfolio {
    /* margin-top: 20px; */
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
/* 
    background-color: tomato; */
}
.text-portfolio {
    /* margin-top: 0; */
    /* margin-bottom: 20px; */
    font-size: 16px;
    line-height: 1.88;
    color:var(--primaty-text-color);
/* 
    background-color: tomato; */
   
}

